@font-face {
    font-family: "Century Gothic";
    src: url("Century\ Gothic.ttf") format("truetype");
    font-display: block;
}
@font-face {
    font-family: "GeosansLight";
    src: url("Geosans\ Light.ttf") format("truetype");
    font-display: block;
}
@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
    font-display: block;
}

.blank{
    position: static;
    display: block;
    padding-top: 250px;
    padding-bottom: 250px;
}
.base-title{
    font-family: "Century Gothic" !important;
    font-size: 52px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
}
.base-title-container{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 0px 0px 30px 30px;
    background: linear-gradient(-135deg,rgba(0,42,135,0.8) 25%,rgba(147,64,255,0.8) 100%);
    box-shadow: 0px 5px 25px black;
    position: fixed;
    backdrop-filter: blur(6px);
    border-bottom: 3px solid #af25ff;
}
.base-title-container:hover{
    border-bottom: 5px solid white;
    transition: 0.5s;
}
.base-title-container:not(:hover){
    transition-duration: 0.25s;
}
.base-subtitle{
    font-family: "Century Gothic" !important;
    font-size: 28px;
    color: white;
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    margin-top: -40px;
}
.base-credits{
    font-family: "Century Gothic" !important;
    font-style: italic;
    font-weight: 500;
    color: white;
    text-align: center;
    font-size: 21px;
    margin-top: -15px;
}
.base-body{
    margin: 0;
    height: 100%;
    background-color: #111525;
}
.infos-container1{
    display: block;
    width: 70%;
    height: 50%;
    position:static;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.text-header{
    font-family: "Century Gothic" !important;
    font-size: 26px;
    font-weight: bold;
    color: white;
    text-align: left;
    position: static;
    margin-left: 20px;
}
.base-text01{
    font-family: "GeosansLight" !important;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: -25px;
    margin-bottom: 50px;
    color: white;
    text-align: justify;
    position: static;

}
.base-text02{
    font-family: "GeosansLight" !important;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: -25px;
    margin-bottom: 50px;
    color: white;
    text-align: center;
    position: static;

}
.base-footer{
    font-family: "Century Gothic" !important;
    font-size: 18px;
    font-weight: 500;
    color: white;
    text-align: left;
    position: static;
    margin-left: 10%;
    margin-right: 10%;

}
.download-contents{
    display: block;
    width: 70%;
    height: 30%;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: 50px;
}
.button-group{
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50px;
}
.github-button{
    width: 300px;
    height: 150px;
    background-color: rgb(35, 255, 35);
    font-family: "Century Gothic" !important;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    border-radius: 15px;
    border-width: 0px;
    padding: 35px 75px;
    margin-right: 0px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
}
.github-button:hover{
    box-shadow: 0px 0px 25px black;
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.github-button:not(:hover){
    transition-duration: 0.25s;
}
.github-button:active{
    transform: scale(0.9);
    transition: ease-out 0.25s;
}
.github-button:not(:active){
    transition-duration: 0.25s;
}
.direct-link{
    width: 300px;
    height: 150px;
    background-color: #1c62cc;
    font-family: "Century Gothic" !important;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border-width: 0px;
    padding: 35px 75px;
    margin-left: 10%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
}
.direct-link:hover{
    box-shadow: 0px 0px 25px black;
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.direct-link:not(:hover){
    transition-duration: 0.25s;
}
.direct-link:active{
    transform: scale(0.9);
    transition-duration: 0.5s;
}
.direct-link:not(:hover){
    transition-duration: 0.25s;
}
.download-show{
    text-align: center;
    font-family: "Century Gothic" !important;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;
    text-shadow: 3px 3px 9px black;
}
.mod-version-text-overdownload{
    text-align: center;
    font-family:  "Roboto" !important;
    color: white;
    position: static;
    margin-top: -20px;
}
.button-file-size{
    text-align: center;
    font-family: "Century Gothic" !important;
    font-size: 11px;
    position: static;
    color: white;
    display: block;
    margin-top: 0px;
}
.download-count-file{
    text-align: center;
    font-family: "Century Gothic" !important;
    font-size: 11px;
    position: static;
    color: white;
    display: block;
    margin-top: -10px;
}
.api{
    display: block;
    position: static;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
}
.api-desc{
    display: block;
    position: static;
    margin-bottom: 20px;
}
.api-title{
    display: block;
    position: static;
    font-family: "Century Gothic" !important;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.api-description{
    display: block;
    position: static;
    font-family: "GeosansLight" !important;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: white;
}
.api-redirect{
    display: block;
    position: static;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 50px;
}
.api-redirect-button{
    position: static;
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 150px;
    margin-bottom: 250px;
}
.api-dl-button{
    position: static;
    font-family: "Century Gothic" !important;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    margin: auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    border-width: 0;
    background-color: #1c62cc;
    color: white;
    cursor: pointer;
}
.api-dl-button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 25px black;
    transition-duration: 0.5s;
}
.api-dl-button:not(:hover){
    transition-duration: 0.25s;
}
.api-dl-button:active{
    transform: scale(0.9);
    transition-duration: 0.25s;
}
.api-dl-button:not(:active){
    transition-duration: 0.1s;
}
.coming-soon{
    margin-top: 500px;
    position: static;
    font-family: "GeosansLight" !important;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 48px;
}
.download-api-div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
}
.API-header{
    font-family: "Century Gothic" !important;
    font-weight: bolder;
    font-size: 64px;
    color: white;
    text-align: center;
}
.API-underhead{
    margin-top: -25px;
    font-family: "Century Gothic" !important;
    font-weight: bold;
    font-size: 28px;
    color: white;
    text-align: center;
}

div.footer{
    margin-top: 25px;
    background-color: #080a12
}

.release-div{
    display: block;
    width: 70%;
    height: 50%;
    position:static;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.table-releases{
    font-family: "Century Gothic" !important;
    text-align: center;
    color: #FFFFFF;
    font-size: larger;
}
table, th, td {
    border: 1px solid #FFFFFF;
    border-collapse:collapse;
}
table {
    margin: 0 auto;
}

.gotoAllReleases{
    display: block;
    width: 70%;
    height: 30%;
    margin-top: 50px;
    align-content: center;
    margin-bottom: 50px;
}
.gotoReleasesButton{
    width: 300px;
    height: 150px;
    background-color: #1c62cc;
    font-family: "Century Gothic" !important;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    border-width: 0px;
    padding: 35px 75px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.5s;
}
.gotoReleasesButton:hover{
    box-shadow: 0px 0px 25px black;
    transform: scale(1.05);
    transition-duration: 0.5s;
}
.gotoReleasesButton:not(:hover){
    transition-duration: 0.25s;
}
.gotoReleasesButton:active{
    transform: scale(0.9);
    transition-duration: 0.5s;
}
.gotoReleasesButton:not(:hover){
    transition-duration: 0.25s;
}